$n-darkblue: #233142;
$n-blue: #455d7a;
$n-red: #f95959;
$n-white: #e3e3e3;
$n-green: #60da7a;

.darkblue {
  color: $n-darkblue;
}

.blue {
  color: $n-blue;
}

.red {
  color: $n-red;
}

.white {
  color: $n-white;
}

.green {
  color: $n-green;
}