.content {
  &__profile {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 1000px;

    h1 {
      margin: 0 auto;
    }
    
    a:hover {
      color: $n-darkblue;
      transition: 0.2s;
    }

    &__posts {
      &__title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
      }
    }
  }
}