.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transform: translateZ(0);
    
    &__header {
        background: $n-darkblue;
        padding: 4px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        a {
            font-size: $title;
        }

        &__title {
            display: flex;
            flex-direction: row;
            align-items: center;

            .icon {
                svg {
                    height: 64px;
                    width: 64px;
                }
            }
        }

        &__actions {
            display: flex;
            flex-direction: row;
            align-items: center;

            h4 {
                font-size: $small;
                font-weight: 100;
                padding-right: 8px;
            }

            &__dropdown-container {                
                .dropdown {
                    position: relative;
                    display: inline-block;
                }
                
                .dropdown-content {
                    display: none;
                    position: absolute;
                    right: 0;
                    background-color: $n-white;
                    min-width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    z-index: 1;
                }
                
                .dropdown-content a {
                    color: $n-darkblue;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                    font-size: $small;
                }
                
                .dropdown-content a:hover {background-color: $n-white;}
                
                .dropdown:hover .dropdown-content {display: block;}
                
                .dropdown:hover .dropicon {background-color: $n-blue;} 
            }
        }
    }
}